/workspace-taotao/.metadata
/workspace-task/.metadata
/workspace-team/.metadata
/workspace-xuexizhinan/.metadata

/workspace-taotao/.recommenders
/workspace-task/.recommenders
/workspace-team/.recommenders
/workspace-xuexizhinan/.recommenders
