.container-fluid .row-fluid:first-child {
	margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 979px) {
	[class*="span"], .row-fluid [class*="span"] {
		display: block;
		float: none;
		margin-left: 0;
		width: auto;
	}
}

@media (max-width: 767px) {
	body {
		padding: 0 !important;
	}
	.container-fluid {
		padding-left: 10px;
		padding-right: 10px;
	}
	#search { display: none; }
	#user-nav > ul > li > a > span.text {
		display: none;
	}
}

.col-sm-10, .col-sm-2 {
	padding-left: 5px;
	padding-right: 5px;
}

/* Widgets */
.widget-box {
    background: none repeat scroll 0 0 #FFF;
    border-top: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.widget-title {
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #CDCDCD;
    height: 28px;
}

.widget-title h5 {
    color: #666666;
	text-shadow: 0 1px 0 #ffffff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    line-height: 12px;
    margin: 0;
}

.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
}

.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 15px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}

.widget-content {
	padding: 12px 15px;
    border-bottom: 1px solid #cdcdcd;
}

.user-photo {
	height: 100%; 
	width: 100%;
	padding: 6px 30px;
}

.widget-content hr {
	border-top: 1px dotted #C0C0C0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.articles-list {
	margin: 0;
	padding: 0 0 20px;
}

.articles-list li {
    border-bottom: 1px dotted #AEBDC8;
    list-style: none outside none;
    padding: 16px 24px 0px;
}

.article-info span, .article-title .label {
	margin-right: 8px;
}

.article-title .label {
	font-size: 12px;
	vertical-align: middle;
	padding: .2em .6em .2em;
}

.glyphicon-opt {
	font-size: 5px;
	margin-right: 2px;
}

.articles-category ul li {
	margin-bottom: 5px;
}

.articles-category ul a {
	font-size: 12px;
}

.articles-category ul span {
	color: gray;
	margin-right: 5px;
}

.article-info .category {
	float: left;
	font-size:12px; 
	color:gray; 
	text-align:left;
}

.article-info .category  span {
	color: #00CED1;
	border: 1px solid #00CED1;
	padding: 0px 5px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;  
}

.article-info .info {
	font-size:12px; 
	color:gray; 
	text-align:right;
}

.full-article-info {
	padding: 0px 20px;
}

.full-article-title {
	margin-top: 20px;
	margin-bottom: 30px;
}

.full-article-content {
	padding: 20px 30px;
}

.thump-up, .thump-up:active, .thump-up:focus, .thump-up:hover {
	text-decoration: none;
}

.btn-edit-article, .btn-delete-article {
	padding: 2px 5px;
	border: 1px solid gray;
    border-radius: 16px;
}

ul.articles-list li a[class^="btn"]{
	visibility: hidden;
}

ul.articles-list li:hover a[class^="btn"]{
	visibility: visible;
}

.full-article-content img {
	max-width: 100%; /*图片自适应宽度*/
}
