body>.container {
	padding: 40px 15px 0px;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
	font-family: Microsoft YaHei, '����', Tahoma, Helvetica, Arial,
		"\5b8b\4f53", sans-serif;
}

.table {
	margin-top: 10px;
}

.navbar-default {
	padding: 8px 2px;
}

.btn-opt {
	padding: 2px 6px;
}

.btn-newtask {
	color: #ffffff;
	background-color: #54D09F;
}

.btn-newtask:active, .btn-newtask:hover, .btn-newtask:focus {
	color: #ffffff;
	background-color: #4DBE91;
}

.form-group {
	margin-right: 20px;
}

.progress {
	height: 16px;
	margin-top: 5px;
	margin-bottom: 4px;
}

.glyphicon-opt {
	font-size: 5px;
	margin-right: 2px;
}

