
.table-for-tasklist {
	margin-top: 10px;
	border-collapse:separate; 
	border-spacing:0px 6px;
}

.table>tbody>tr>td {
	border-top:0px;
}

.tr-task {
	background-color:#fff;
}

.table>thead>tr>th {
    border-bottom: 1px dashed #777;
}

.navbar-default {
	padding: 8px 2px;
}

.btn-opt {
	padding: 1px 4px;
}

.btn-newtask {
	color: #ffffff;
	background-color: #54D09F;
}

.btn-newtask:active, .btn-newtask:hover, .btn-newtask:focus {
	color: #ffffff;
	background-color: #4DBE91;
}

.form-group {
	margin-right: 20px;
}

.progress {
	height: 10px;
	margin-top: 5px;
	margin-bottom: 4px;
}

.glyphicon-opt {
	font-size: 5px;
	margin-right: 2px;
}

.modal-small{top:30%;}

.page-header {
	margin:30px 0 10px;
}

.badge {
	background-color:#BBB;
}

.badge-num {
	vertical-align: top;
	background-color:#bbb;
}

.modal-dialog-task {
    width: 1000px;
}

.width-l {
	width:40%;
}

.width-m {
	width:15%;
}

.width-s {
	width:10%;
}

.well {
	margin: 0px 4px 4px 4px;
}

h3 {
	margin-top: 15px;
	margin-bottom: 6px;
}

.radio-task-status {
	/* color: #446e9b; */
}

.breadcrumb {
    background-color: #fff
}



